*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}
body{
    background-color: rgb(245, 253, 253);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
.box{
    padding-top: 30px;
    padding: 30px;
    border-radius: 10px;border-radius: 10px;
    border-radius: 17px;
    background: #ede9e9;
    box-shadow:  7px 7px 14px #d1cdcd,
                -7px -7px 14px #ffffff;
}
.box h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: rgb(190, 184, 184);
    font-family: sans-serif;
}
#password{
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 22px;
    margin-bottom: 20px;
    border-radius: 88px;
    border-radius: 76px;
    border-radius: 60px;
    border-radius: 12px;
background: #ede9e9;
box-shadow: inset 10px 10px 15px #cecbcb,
            inset -10px -10px 15px #ffffff;
}
#password:placeholder{
    color: #ccd1d3;
    font-size: 10px;
}
.btn-container{
    display: flex;
    gap: 20px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    border-radius: 15px;
    border-radius: 12px;
    background: linear-gradient(145deg, #d5d2d2, #fef9f9);
    box-shadow:  10px 10px 15px #cecbcb,
                 -10px -10px 15px #ffffff;
}

button:hover{
    background: #868d8f;
    color: white;
}
.length-container{
    padding-left: 5rem;
}
.length{
    width: 55px;
    height: 35px;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    color: #737677;
    outline: none;
    border: none;
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 12px;
    background: linear-gradient(145deg, #d5d2d2, #fef9f9);
    box-shadow:  10px 10px 15px #cecbcb,
                -10px -10px 15px #ffffff;
    margin-bottom: 1rem;         
}
.Plength{
    font-size: 20px;
    color: #9b9595;
}


/* Basic styles for the container */
.checkbox-container { /* Set the width of the container */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 1rem;
}

/* Style for each checkbox item */
.checkbox-item {
    display: flex;
    align-items: center;
}

/* Style for the label */
.checkbox-item label {
    margin-left: 6px;
    font-size: 22px;
    color: #868d8f;
    cursor: pointer;
}
#checkbox1,
#checkbox2 {
    cursor: pointer;
}

/* Optional: Style checkboxes when checked */
input[type="checkbox"]:checked {
    background-color: #4caf50;
}


@media (max-width: 500){
    body{
        min-height: 0;
        overflow: hidden;
    }
    .box{
        padding: 0;
        width: 30%;
        height: auto;
       
    }
}